.form-controll {
    margin: 1rem 0;
  }
  
  .form-controll label,
  .form-controll input,
  .form-controll textarea {
    display: block;
  }
  
  .form-controll label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-controll input,
  .form-controll textarea {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
  }
  
  .form-controll input:focus,
  .form-controll textarea:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
  }
  
  .form-controll--invalid label,
  .form-controll--invalid p {
    color: red;
  }
  
  .form-controll--invalid input,
  .form-controll--invalid textarea {
    border-color: red;
    background: #ffd1d1;
  }